.main {
  background-color: var(--background-color-1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
/* No seu page.module.css */

.blocked {
  user-select: none;
  overflow: hidden;
}

.blocked > *:not(:last-child) {
  pointer-events: none;
  filter: brightness(0.9);
}

.blocked > :last-child {
  pointer-events: auto !important;
}
.banner {
  position: relative;
  width: auto;

  height: 130px;
  overflow: hidden;
}
.loadingContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.banner_image {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CATEGORIAS */
.filters_line {
  display: flex;
  width: 100%;
}
.filters_line_content {
  overflow-x: scroll;
  display: flex;
  gap: var(--space-lg);
  padding: var(--space-lg);
}
.filters_line_content {
  scroll-behavior: smooth;
  overflow-x: auto;
  white-space: nowrap;
}
.filters_line_content::-webkit-scrollbar {
  display: none;
}
.filters_line_option {
  color: var(--text-color-1);
  font-size: small;
  border-radius: var(--radius-md);
  padding: var(--space-sm);
  background-color: var(--background-color-2);
  border: var(--def-border);
  box-shadow: var(--def-shadow-1);
  padding: var(--space-md) var(--space-xl);
}
.filters_line_option_selected {
  border: 2px solid var(--text-color-3) !important;
}
.clear_cart_button {
  display: flex;
  align-self: flex-end;
  margin: auto 10px;
  padding: var(--space-xs) var(--space-xl);
  background-color: transparent;
  border: none;
  border-radius: var(--radius-md);
  color: var(--text-color-2);
  font-size: var(--font-size-md);
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 1px;
}

.search_settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  align-self: center;
  margin: 10px 10px;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  align-self: center;
  background-color: var(--background-color-2);
  border-radius: var(--radius-sm);
  border: var(--def-border);
  padding: var(--space-lg);
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  box-shadow: var(--def-shadow-1);
}
.search_bar input {
  padding: var(--space-md);
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: var(--def-shadow-1);
  color: var(--text-color-2);
  font-size: var(--font-size-md);
}
