.product_card {
  position: relative; /* necessário para posicionar o label */
  background: white;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-bottom: var(--default-border);
}

/* Label de quantidade */
.quant_label {
  margin-left: 5px;
  font-size: 14px;
  pointer-events: none; /* para não atrapalhar cliques */
  z-index: 1;
  color: #e26d1f;
  font-weight: bold;
}
.product_card_head {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
}

.product_card_head button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  border: var(--default-border);
  color: #e26d1f;
  width: 30px;
  height: 30px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #e26d1f;
}
.product_card_footer {
  display: flex;
  gap: 5px;
}
.product_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
}
.product_info {
  flex: 1;
}
.product_info h3 {
  margin: 0;
  font-size: 10px;
}
.product_info p {
  margin: 2px 0;
  font-size: 10px;

  color: #666;
}
.price {
  font-size: 12px;
  color: green;
  font-weight: bold;
}
/*
.add_btn {
  background: rgb(214, 100, 25);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
}
.add_btn:hover {
  background: rgb(255, 100, 25);
  cursor: pointer;
} */
