.footer {
  z-index: 300;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* ---------- OVERLAY ---------- */
.confirmationOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2000;
  animation: fadeIn 1 ease;
}

.footer_head {
  background: var(--background-color-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--size-xxl);
  color: var(--text-color-0);
  font-size: var(--font-size-xxl);
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.footer_total {
  font-size: var(--font-size-xxl);
  font-weight: bold;
}

.footer_cart {
  font-size: var(--font-size-xlg);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  /* background: var(--background-color-2); */
  background-color: transparent;
  color: var(--text-color-0);
  padding: var(--space-xs) var(--space-xl);
  border: none;
  border-radius: var(--radius-xs);
  font-weight: bold;
  cursor: pointer;
}

.form {
  z-index: 1000;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background: var(--background-color-1);
  padding: 0 var(--size-sm);
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.open {
  max-height: 70vh;
  overflow-y: auto;
}

.section {
  margin-bottom: var(--size-sm);
}

.section h3 {
  margin-bottom: var(--size-xxs);
  font-size: var(--size-sm);
  font-weight: bold;
}

.deliveryRow {
  gap: var(--space-xs);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery_row_toggle_container {
  background: var(--background-color-2);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-color-1);
  transition: background-color 0.3s ease;
}

.delivery_row_toggle_left,
.delivery_row_toggle_right {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--size-xs) var(--size-sm);
  color: var(--text-color-1);
  border-radius: var(--size-sm);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.25s ease;
}
.delivery_row_toggle_left {
  border-radius: var(--radius-md) 0 0 var(--radius-md);
}
.delivery_row_toggle_right {
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
}
.delivery_row_toggle_left:hover,
.delivery_row_toggle_right:hover {
  transform: scale(1.05);
}

.delivery_row_toggle_selected {
  background-color: var(--background-color-4);
  color: var(--text-color-0);
}

.deliveryButton svg {
  width: var(--size-sm);
  height: var(--size-sm);
}

.active {
  color: var(--text-color-4);
}

.addressBox {
  background: var(--background-color-2);
  padding: var(--space-lg);
  border-radius: var(--radius-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addressBox p {
  font-size: var(--font-size-sl);
  color: var(--text-color-2);
  line-height: 1;
}

.addressBox strong {
  font-size: var(--font-size-lg);
}

.changeAddress {
  padding: var(--space-md) var(--space-lg);
  background: var(--background-color-4);
  color: var(--text-color-0);
  border: none;
  border-radius: var(--radius-xs);
  font-size: var(--font-size-md);
}

.paymentRow {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
}

.paymentButton {
  flex: 1;
  background: var(--background-color-2);
  padding: var(--space-md);
  border-radius: var(--radius-xs);
  border: none;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  min-width: 90px;
}

.paymentButton svg {
  display: block;
  margin: 0 auto var(--space-sm);
}

.trocoBox {
  margin-top: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.trocoBox input {
  padding: var(--space-md);
  border-radius: var(--radius-sm);
  border: var(--def-border);
}

.total {
  display: block;
  font-size: var(--font-size-xlg);
  font-weight: bold;
  color: var(--background-color-5);
  margin-bottom: var(--space-lg);
}

.frete {
  display: flex;
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--background-color-3);
  align-items: center;
}

.finishButton {
  width: 100%;
  padding: var(--size-sm);
  background: var(--background-color-4);
  color: var(--text-color-0);
  border: none;
  border-radius: var(--radius-xs);
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.products_table {
  margin-bottom: var(--space-md);
  background: var(--background-color-2);
  padding: var(--space-lg);
  border-radius: var(--radius-xs);
  max-height: 220px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-top: var(--space-lg);
}

.products_table::-webkit-scrollbar {
  width: 6px;
}
.products_table::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: var(--radius-xs);
}

.products_header {
  display: grid;
  grid-template-columns: 2fr 0.7fr 1fr 1fr;
  padding: 6px var(--space-lg);
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--text-color-1);
  background: #e9e9e9;
  border-radius: var(--radius-xs);
  position: sticky;
  top: 0;
  z-index: 10;
}

.product_row {
  display: grid;
  grid-template-columns: 2fr 0.7fr 1fr 1fr;
  background: #f8f8f8;
  padding: var(--space-lg);
  border-radius: var(--radius-xs);
  font-size: var(--font-size-sl);
  align-items: center;
}

.p_name {
  font-weight: 600;
}

.p_quant,
.p_price,
.p_total {
  text-align: center;
}

@media (max-width: 380px) {
  .footer_head {
    padding: 12px;
    font-size: var(--font-size-md);
  }

  .delivery_row_toggle_left,
  .delivery_row_toggle_right {
    padding: 6px 10px;
    font-size: var(--font-size-md);
  }

  .paymentButton {
    padding: var(--space-lg);
    font-size: var(--font-size-md);
  }

  .products_header,
  .product_row {
    font-size: var(--font-size-sl);
  }

  .finishButton {
    padding: 12px;
    font-size: var(--font-size-lg);
  }
}
