.navbar {
  z-index: 1000;
  top: 0;
  background-color: #e26d1f;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: var(--default-border);
  position: sticky;
}
.left_side {
  color: white;
  width: 100%;
  display: flex;
  justify-content: left;
  font-size: 20px;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 8px black;
}
.right_side {
  display: flex;
  justify-content: end;
}
