.main {
  background-color: var(--background-color-1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.banner {
  position: relative;
  width: auto;

  height: 130px;
  overflow: hidden;
}

.banner_image {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CATEGORIAS */
.filters_line {
  display: flex;
  width: 100%;
}
.filters_line_content {
  overflow-x: scroll;
  display: flex;
  gap: var(--space-lg);
  padding: var(--space-lg);
}
.filters_line_content {
  scroll-behavior: smooth;
  overflow-x: auto;
  white-space: nowrap;
}
.filters_line_content::-webkit-scrollbar {
  display: none;
}
.filters_line_option {
  color: var(--text-color-1);
  min-width: 100px;
  font-size: small;
  border-radius: var(--radius-md);
  padding: var(--space-sm);
  background-color: var(--background-color-2);
  border: var(--def-border);
  box-shadow: var(--def-shadow-1);
}
.filters_line_option_selected {
  border: 2px solid var(--text-color-1) !important;
}
